<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/mycustom.css">
        
        <title>ECE9065 </title>
        
    </head>
    <body ng-app="mainApp" >

        <nav class="navbar navbar-inverse" >
         <div class="row" >
             <div class="col-md-6" >
                   <a href='/' ><img src="images/western Eng Logo.png"></a>
             </div>
             <div class="col-md-4">
                   <h2> ECE 9065</h2>
             </div>
             <div class="col-md-2" class="g-signin2" data-onsuccess="onSignIn" >
                 <a  href="/auth/google"  ><img src="images/login-button.png"  width="140" ></a>                
             </div>


         </div>        
        </nav>
    
        <div ng-view  ></div>
     
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8//angular-route.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
      <script type="text/javascript" src="js/controller.js"></script>
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
      </script>
      <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
      </script>
          
          
    <script>
        function start() {
          gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              client_id: '875704402574-t0l4u89o9lqv759e2jv7d57oifk4e15n.apps.googleusercontent.com',
              // Scopes to request in addition to 'profile' and 'email'
              //scope: 'additional_scope'
            });
          });
        }
  </script>
  <script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
  });
</script>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/auth/google/callback',
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response.
      },
      processData: false,
      data: authResult['code']
    });
  } else {
    // There was an error.
  }
}
</script>
     <script>
         function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail());
        }
        
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }


     </script>
    </body>
</html>