<div id='mainSection'>

  <div  class="row">
    <div class="col-md-4"   ng-controller="switchViews">
         <select ng-model="multipleSelect" ng-change="someFunction()" class="dropdown-dark dropdown-select" value="Select a option1" >
           <option style="display:none;" selected="" disabled="" value="">Select an option</option>
           <option   value="/login" href="#/login" selected="selected" >Create a post</option>
          <option  value="/track" href="#/track">edit a post</option>
          <option  value="/comments" href="#/comments">post and comments</option>
          <option  value="/allPosts" href="#/track">Track all posts</option>
        </select>
    </div>
  </div>

    <div id="subSection2" class="col-sm-offset-2 col-sm-6" ng-controller="allPosts" >
        <button ng-click="add()"> Add new post</button>
        <center><h1>All Posts</h1></center>
        <table class="table whitetable">
            <tbody >
            <tr><td colSpan="5"><center><h3 ng-model="message">Message:  {{message}}</h3></center></td></tr>
            <tr>
                <td></td>
                <td></td>
                <td>Post Body</td>
                <td>Post Date</td>
                <td><!--button type="submit" ng-click="add()" >Add</button--></td>
            </tr>
            <tr ng-repeat="post in posts">
                <td><button type="submit" class="btn btn-warning btn-md" ng-click="edit(post._id)" >Edit</button></td>
                <td><button type="submit" class="btn btn-danger btn-md" ng-click="delete(post._id)" >Delete</button></td>
                <td >{{ post.postBody }}</td>
                <td>{{ post.postDate }}</td>
                <td><button type="submit" class="btn btn-info btn-md" ng-click="manageComment(post._id)" >Comments</button></td>
            </tr>
            </tbody>
        </table>    
    </div>
</div>

