
<section >
 
    
  <div  class="row">
    <div class="col-md-4"   ng-controller="switchViews">
         <select ng-model="multipleSelect" ng-change="someFunction()" class="dropdown-dark dropdown-select" value="Select a option1" >
           <option style="display:none;" selected="" disabled="" value="">Select an option</option>
           <option   value="/login" href="#/login" selected="selected" >Create a post</option>
          <option  value="/track" href="#/track">edit a post</option>
          <option  value="/comments" href="#/comments">post and comments</option>
          <option  value="/allPosts" href="#/track">Track all posts</option>
        </select>
    </div>
  </div>



    <div  class="row" ng-controller='postcomments'>
        <div class="col-md-offset-3 col-md-4">
            <h1> {{postBody}}</h1>
            <h4> Comments </h4>
            <table class="table whitetable">
                <tbody >
                <tr><td colSpan="5"><center><h3 ng-model="message">Message:  {{message}}</h3></center></td></tr>
                <tr>
                    <td></td>
                    <td>Comment Body</td>
                    <td>Comment Date</td>
                
                </tr>
                <tr ng-repeat="comment in comments">
                    <td><button type="submit" class="btn btn-danger btn-md" ng-click="delete(comment._id)" >Delete</button></td>
                    <td >{{ comment.commentBody }}</td>
                    <td>{{ comment.commentDate }}</td>
                    
                </tr>
                </tbody>
            </table>    

           <div class="form-group">
               <form >
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5"  id="posts" height="300px" width="300px" ng-model="commentdata" placeholder="Dummy text posting field"></textarea>
              <button type="button" class="btn btn-primary btn-md"  ng-click='add()'>Create Comment</button>
              </form>
            </div>

        
        </div>

        <div class="col-md-4">
             <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
            <div class="checkbox disabled">
              <label><input type="checkbox" value="" disabled>Option 3</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
        </div>

    </div>    

    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
</section>